.wrapper {
  width: 100%;
  margin-bottom: 2rem;
}

.recent_post_title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.recent_post_date {
  margin-bottom: 0.5rem;
  color: #a9adc1;
  font-size: 0.8rem;
}

.recent_post_sub_title {
  color: #a9adc1;
  font-size: 1rem;
}
