.tag_wrapper {
  display: block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  transition: 1s ease;
}
