.recommend_post_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25vh;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: gray;
  border-radius: 10px;
}

.recommend_post_content {
  margin-top: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-top: 0;
}

.recommend_post_date {
  font-size: 1rem;
  color: #a9adc1;
}

.recent_post_sub_title {
  font-size: 1rem;
  font-weight: 400;
}

.recent_post_thumbnail {
  width: 15rem;
  height: 10rem;
  background-color: #a9adc1;
  border-radius: 10px;
}
