.my_introduce {
  display: flex;
  align-items: center;
  min-height: 20vh;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.intro_profile {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-right: 3rem;
  border-radius: 50%;
  box-shadow: 2px 2px 6px #3e3e3f;
  overflow: hidden;
}

.title {
  margin-top: 0;
  color: white;
}

.description {
  line-height: 2rem;
  font-weight: 400;
  color: #a9adc1;
}

.recent_post {
  height: 30px;
}

/** 모바일 css */
@media (max-width: 768px) {
  .intro_profile {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: 2px 2px 6px #3e3e3f;
    overflow: hidden;
  }
}
