.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 2rem;
}

.nav_profile_wrapper {
  display: flex;
}

.header_profile {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
  overflow: hidden;
}

.main {
  width: 60%;
  margin: 1rem;
}
