.post_item_wrapper {
  position: relative;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 10px 20px 20px 0 var(--box-shadow-color);
  transition: 0.5s ease;
}

.post_item_wrapper:hover {
  position: relative;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--box-bg-hovered-color);
  box-shadow: 10px 20px 20px 0 var(--box-shadow-hovered-color);
  transition: 0.5s ease;
}

.post_content_wrapper {
  max-height: 22rem;
}

.post_thumbnail {
  position: relative;
  width: 100%;
  min-height: 11rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: gray;
  overflow: hidden;
}

.default_post {
  border: none;
}

.tag_list_date_wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0.5rem;
}

.tag_list_wrapper {
  display: flex;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sub_title {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.date {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--description-text-color);
}

/** 모바일 css */
@media (max-width: 768px) {
  .post_item_wrapper {
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 10px 20px 20px 0 var(--box-shadow-color);
    transition: 0.5s ease;
  }

  .post_item_wrapper:hover {
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 10px 20px 20px 0 var(--box-shadow-hovered-color);
    transition: 0.5s ease;
  }
}
