.post_item_wrapper {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.post_thumbnail {
  position: relative;
  width: 9rem;
  height: 9rem;
  margin-bottom: 1rem;
  background-color: gray;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.sub_title {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 1rem;
  font-weight: 300;
  color: #a9adc1;
}
