.post_list_title {
  font-size: 3rem;
  margin-top: 3rem;
}

.post_list_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 1rem;
}

@media (max-width: 1200px) {
  .post_list_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
  }
}

/** 모바일 css */
@media (max-width: 768px) {
  .post_list_wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
