.button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: #f2cb42;
  border: none;
  border-radius: 10px;
}

.button:hover {
  background-color: #947e2e;
}

/** 모바일 css */
@media (max-width: 768px) {
  .button {
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #f2cb42;
    border: none;
    border-radius: 10px;
  }

  .button:hover {
    background-color: #947e2e;
  }
}
