.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.5rem;
}

.nav_text {
  margin-right: 1.5rem;
  padding-bottom: 0.6rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  color: #a9adc1;
}

.nav_text_clicked {
  margin-right: 1.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid white;
  border-radius: 30;
  color: white;
}
