.header_profile {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
  border-radius: 50%;
  background-color: grey;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
